@import url(@import url('https //fonts.googleapis.com/css family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 
}

body{
  background: #1f242d;
}

a{
  color: white;
  text-decoration: none;
}

.navbar{
  position: fixed;
  left: 0;
  top: 0;
  width: 85%;
  padding: 25px 9%;
  background: rgb(61, 5, 112);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 30px;
  font-weight:700;

}