@import url(@import url('https //fonts.googleapis.com/css family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 
}

body{
  background: #1f242d;
}

a{
  color: white;
  text-decoration: none;
}

.navbar{
  position: fixed;
  left: 0;
  top: 0;
  width: 85%;
  padding: 25px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  color: aqua;
  font-size: 30px;
  font-weight:700;

}

.navbar ul{
  display: flex;
}

.navbar ul li{
  list-style: none;
  margin-left: 30px;
}

.navbar ul li a{
  color:aqua;
  font-size: 20px;
  font-weight: 500;
  transition: 1s;
}

.navbar ul li:hover a{
  color: rgb(234, 141, 3);
}



