@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif; 
  background: hsl(219, 18%, 15%);
}

a{
  color: white;
  text-decoration: none;
}

.navbar{
  position: fixed;
  left: 0;
  top: 0;
  width: 85%;
  padding: 25px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  color: aqua;
  font-size: 30px;
  font-weight:700;

}

.navbar ul{
  display: flex;
}

.navbar ul li{
  list-style: none;
  margin-left: 30px;
}

.navbar ul li a{
  color:aqua;
  font-size: 20px;
  font-weight: 500;
  transition: 1s;
}

.navbar ul li:hover a{
  color: rgb(234, 141, 3);
}

.home{
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 60px 9%;
  color: white;
}

.home-info h1{
  font-size: 50px;
  margin-bottom:  5px;
  margin-top: -5px;
}

.home-info h2{
  font-size: 30px;
}

.home-info p{
  font-size: 16px;
  margin: 10px 0 25px;
}

.dwnl_cv_button{
  display: inline-block;
  padding: 10px 30px;
  background: aqua;
  cursor: pointer;
  font-size: 16px;
  color: #232832;
  font-weight: 600;
  border-radius: 32px;
  width: 110px;
  border: 2px solid aqua;
  transition: all 0.5s ease-in-out;
}

.portfolio_button{
  display: inline-block;
  padding: 10px 30px;
  background: aqua;
  cursor: pointer;
  font-size: 16px;
  color: #232832;
  font-weight: 600;
  border-radius: 32px;
  width: 64px;
  margin-left: 30px;
  border: 2px solid aqua;
  transition: all 0.5s ease-in-out;
}

.dwnl_cv_button:hover
{
  background: #232832;
  color: aqua;
}

.portfolio_button:hover{
  background: #232832;
  color: aqua;
}